html {
    scrollbar-width: none;          /* Firefox用 */
    -ms-overflow-style: none;       /* IE/Edge用 */
}

html::-webkit-scrollbar {
  display: none;                  /* Chrome/Safari用 */
}

/* Chrome, Safari, Edge 用 */
.main::-webkit-scrollbar {
  width: 8px; /* スクロールバーの太さ */
}

.main::-webkit-scrollbar-track {
  background: #fce4ec; /* ピンク（トラック背景） */
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #28497D; /* 紺色（つまみ） */
  border-radius: 10px;
  border: 2px solid #fce4ec; /* ピンクの枠で囲むと映える */
}

/* Firefox 用 */
.main {
  scrollbar-width: thin;
  scrollbar-color: #28497D #fce4ec; /* 紺色のつまみ / ピンクの背景 */
}
